[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
wget = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pandas-profiling = "*"
sns = "*"

[dev-packages]

[requires]
python_version = "3.9"
